<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11057455683-vhk27b7ej5n6t3qne9qfd8e4pvnpbtrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11057455683-vhk27b7ej5n6t3qne9qfd8e4pvnpbtrd</string>
	<key>API_KEY</key>
	<string>AIzaSyA1ebwDg3TLWiXzsYkvF9I9bDBEJrQokUw</string>
	<key>GCM_SENDER_ID</key>
	<string>11057455683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f3e39</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f3e39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11057455683:ios:52a7ba5fe75e40bddc6af6</string>
</dict>
</plist>